**/.env
**/.venv
**/.env.*
**/.idea/*
**/.vscode/*
**/.DS_Store
**/__pycache__/
**/terraform.tfstate
**/.terraform.tfstate.lock.info
**/terraform.tfvars
**/.terraform/
**/.terraform.lock.hcl
/python_activemq.egg-info/
